.MenuButton {
    width: 200px;
    height: 75px;
    border-radius: 10px;
  }
.MenuButton:hover {
    background-color: darkgray;
    color: white;
}
.titleText{
    font-size: 40px;
    padding-left: 5px;
    margin-bottom: 15px;
}
.menuText{
    padding-left: 5px;
    font-size: 20px;
    margin: 0px;
}

.topBanner{
    background-color: lightgray;
    width: 100%;
    margin-left: -5px;
    margin-top: -20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}