html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(38,50,56);
  }
canvas {
    display: block;
  }
.backToMain {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  }
  