html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(38,50,56);
  }
canvas {
    display: block;
  }
.backToMain {
  position: fixed;
  bottom: 30px;
  left: 20px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  }

.pongTitle{
  color: white;
  font-size: 40px;
  margin-left: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 0px;
  margin-top: 5px;
}

.instructionLabel{
  position: absolute;
  right: 25px;
  bottom: 0px;
}

.bottomDiv{
  position: fixed;
  background-color: pink;
  width: 750px;
  height: 100px;
  bottom: 10px;
  left: 10px;
}
  